h1{
    text-align: center;
    margin: 80px 0px;
}
.main-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.mini-cards{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 40px 30px;
    height: 200px;
    width: 220px;
    border-radius: 5px;
    cursor: pointer;
}
.mini-cards:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
.mini-cards p{
    margin: 20px 0px;
}